@import-once "variables";
@import-once "font-awesome";

.button() {
  .user-select-none();
  background-color: @btn-background-color;
  color: @btn-txt-color;

  padding: 0 5px 0 5px;

  box-sizing: border-box;
  vertical-align: top;
  line-height: @default-line-height - 1;
  height: 26px;
  border: 1px solid @base-border-color;
  border-radius: 3px;
  white-space: nowrap;
  outline: none;
  font-size: @base-font-size;
  transition: background ease-in-out .15s, border-color ease-in-out .15s, box-shadow ease-in-out .15s;

  span {
    font-size: @base-font-size;
  }

  img {
    vertical-align: top;
    height: 16px;
    width: 16px;
    margin-right: 3px;
    &:first-child {
      &:last-child {
        margin: 0;
        padding: 0;
      }
    }
  }

  .icon {
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    margin: 0 3px 0 0;
    &:first-child {
      &:last-child {
        margin: 0;
        padding: 0;
      }
    }
  }

  &:hover {
    cursor: pointer;
    background: darken(@btn-background-color, 5%);
    border-color: darken(@base-border-color, 10%);
  }

  &:active {
    background: darken(@btn-background-color, 10%);
    border-color: darken(@base-border-color, 20%);
    box-shadow: 0 0 2px 0 #03A9F4 inset;
  }

  &:disabled {

  }

}

.menu-button() {
  list-style: none;
  position: relative;
  display: inline-block;
  font-size: @base-font-size;
  height: 26px;

  li {
    &.btn {
      button {
        .button();
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        text-align: left;
        overflow: hidden;
      }
      span.arrow {
        .button();
        text-align: center;
        border-left: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        width: 26px;
      }
    }

    &.list {
      background-color: @btn-background-color;
      color: @btn-txt-color;
      border: 1px solid @base-border-color;
      z-index: 1;
      display: none;
      text-align: right;
      position: absolute;
      min-width: 100%;
      box-sizing: border-box;
      table {
        display: none;
        width: 100%;
        white-space: nowrap;
        cursor: pointer;
        text-align: left;
        border-collapse: collapse;
        tr {
          user-select: none;
          -moz-user-select: none;
          -webkit-user-select: none;
          line-height: 24px;
          height: 26px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.03);
          &:last-child {
            border-bottom: none;
          }
          &:hover {
            background: darken(@btn-background-color, 5%);
          }
          td {
            padding: 4px;
            &:first-child {
              padding-left: 8px;
              width: 1px;
            }
          }
          &.separator {
            td {
              padding: 2px 0;
              width: auto;
              div {
                border-bottom: 1px solid #E0E0E0;
              }
            }
            &:hover {
              td {
                background: transparent;
              }
            }
          }
        }
      }
    }
  }

  &.expanded {

    .list {
      display: block;
      top: 26px;
      box-shadow: 0px 3px 5px 0 rgba(0,0,0,0.2);
      table {
        display: table;
      }
    }

    li {
      &.btn {
        span.arrow {
          //noinspection LessUnresolvedMixin
          .fa-flip-vertical;
        }
      }
    }
  }

  &.align-right {
    li.list {
      right: 0;
      left: auto;
    }
  }

}

#cm {
  ul.menu-button {
    .menu-button();
  }

  ul.filters-button, ul.columns-button {
    .menu-button();
    li.list {
      min-width: 100%;
      box-sizing: border-box;
      div.list-container {
        width: 100%;
        div.list-inner {
          table {
            position: inherit;
            tr {
              td.filter-name {
                width: 100%;
                padding: 0px 3px;
              }
              td.filter-edit {
                padding: 0px 3px;
                width: 1px;
              }
              td.filter-delete {
                padding: 0px 3px 0px 3px;
                width: 1px;
              }
              &.drag-origin {
                opacity: 0.3;
                background: #03A9F4;
              }
              &.drop-before {
                td {
                  border-top: 15px solid #03A9F4;
                }
              }
              &.drop-after {
                td {
                  border-bottom: 15px solid #03A9F4;
                }
              }
            }
          }
          button.new-filter {
            font-size: @base-font-size;
            font-family: @font-family;
            margin: 5px 3px 3px 3px;
          }
        }
      }
    }
    li.btn {
      button.filter-btn {
        width: 150px;
        overflow: hidden;
        white-space: nowrap;
      }
    }

    &.pressed {
      li.btn {
        button {
          background: darken(@btn-background-color, 10%);
          border-color: darken(@base-border-color, 15%);
          font-weight: 600;
          .icon {
            color: dodgerblue;
          }
        }
      }
    }
    &.expanded {
      .list-container {
        display: block;
        top: 26px;
      }
    }
  }

  ul.export-button {
    &.expanded {
      li.list {
        top: auto;
        bottom: 26px;
        box-shadow: 0px -2px 5px 0 rgba(0,0,0,0.2);
      }
    }
  }

}
