/* general */
html {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}
label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    vertical-align: middle;
    line-height: 40px;
}
fieldset {
    border: 1px solid #234182;
    border-radius: 11px;
    padding: 11px;
}
legend {
    padding: 0px 9px;
    text-align: left;
    margin-left: 22px;
}
*:focus {
    outline: none;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}
input::-ms-clear {
    display: none;
}
.maxiBkColor {
    background-color: #212121;
}
.maxiFgColor {
    color: white;
}

.maxiPanelBkColor {
    background-color: #F0F0F0;
}

/* general end */

/* text align */
.maxiTaLeft {
    text-align: left !important;
}
.maxiTaRight {
    text-align: right !important;
}
.maxiTaCenter {
    text-align: center !important;
}
/* text align end */

/* navigation menu */
.maxiNavMenu {
    width: 100%;
    height: 60px;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 10;
}
.maxiNavMenu .logoBox {
    position: absolute;
    left: 100px;
    top: 50%; bottom: 0; right: 0;
    transform: translateY(-50%);
    font-size: 20px;
    font-weight: lighter;
    color: white;
}

.logoBox img {
    display: inline-block;
    height: 16px;
}
.logoBox p {
    display: inline-block;
    height: 27px;
    padding-left: 3px;
}

.maxiNavMenuFix {
    height: 60px;
}

/* navigation menu end */

/* tables */
table {
    width: 100%;
    table-layout: fixed;
}
/* end tables */

/* paddings */
.pad-bot {
    padding-bottom: 11px !important;
}
.pad-left {
    padding-left: 11px !important;
}
.pad-top {
    padding-top: 11px !important;
}
/* end paddings */

/* panels */
.maxiPanel {
    width: 629px;
    margin: 11px auto;

    text-align: center;
    border-radius: 5px;
    position: relative;
}

.maxiPanelBody {
    padding: 11px;
    width: 100%;
}
.maxiPanelBody div.input {
    margin: 11px 0px;
    width: 100%;
}
.maxiPanelFooter {
    padding: 24px;
    width: 100%;
}
.maxiTitle h1 {
    font-size: 30px;
    font-weight: lighter;
    margin: 0;
    margin-top: 11px;
    margin-bottom: 11px;
}
/* panels end */

/* dialog */
.maxiModalContent {
    display: none;
}
.maxiModalFrame {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0; top: 0;
    right: 0; bottom: 0;
    z-index: 100;
    background-color: rgba(0,0,0,0.3);
}
.maxiModalContent > .maxiPanel, .maxiModalContent > form > .maxiPanel {
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.25);
    width: 584px;
    background-color: #FFFFFF;
}
.maxiDialog {
    z-index: 101;
    margin: auto;
    position: absolute;
    top: 0; left: 0;
    bottom: 0; right: 0;
}
.maxiDialogContent {
    margin: auto;
    position: absolute;
    top: 0; left: 0;
    bottom: 0; right: 0;
    height: 200px;
}
.maxiDialogContent > .maxiPanelFooter {
    position: absolute;
    left: 0; bottom: 0;
}
/* dialog end */


/* input start */
input, select {
    border:1px solid #C4C4C4;
    background-color: white;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    height: 30px;
    padding: 3px 6px;
    line-height: 28px;
    vertical-align: middle;

    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, background-color ease-in-out .15s, color ease-in-out .15s;
}

input::placeholder {
    color: #d4d4d4;
}
input::-webkit-input-placeholder {
    color: #d4d4d4;
}
input:-moz-placeholder {
    color: #d4d4d4;
}
input::-moz-placeholder {
    color: #d4d4d4;
}
input::-ms-input-placeholder {
    color: #d4d4d4;
}
input:focus {
    border-color: #4877ce;
}
input[disabled], input.disabled {
    opacity: 0.65;
}

.autocomplete {
    background-color: #234182;
    color: white;
    padding: 6px;
    cursor: pointer;
    margin-top: -3px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 100% !important;
}
.autocomplete > .selected {
    background-color: rgba(255, 255, 255, 0.22);
}
/* input end */

/* button start */
button {
    border-radius: 40px;
    font-size: 18px;
    height: 40px;
    width: 216px;
    line-height: 28px;
    vertical-align: middle;
    padding: 0px 8px;
    color:white;
    text-align: center;
    border: none;
    background-color: #234182;

    transition: background ease-in-out .15s, border-color ease-in-out .15s, box-shadow ease-in-out .15s, color ease-in-out .15s;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

button:hover {
    background-color: #4877CE;
}

button.gray {
    color: #616161;
    background-color: #D7D7D7;
}

button.default:hover {
    border: none;
    background-color: rgb(72, 119, 206);
}
/* button end */

/* div.input start */
div.input, div.select {
    display: inline-block;
    position: relative;
    overflow: hidden;
    background-color: white;
    border-radius: 5px;
    border:none;
    padding:0;
    text-align: left;

    height: 50px;
    width: 100%;
}
div.input {
    overflow: visible;
}
div.input label, div.select label {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    width: 100%;
    transition: 0.2s;
    font-size: 13px;
    line-height: 50px;
    color: #C4C4C4;
    z-index: 1;
    height: 50px;
    padding: 0px 10px 0px 12px;
}
div.input input, div.select select {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 0px;
    background: transparent;
    z-index: 2;
    padding-left: 12px;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border:1px solid #C4C4C4;
}
div.select select {
    padding-top: 12px;
}
div.input input:valid + label + .signClear {
    display: block;
}

div.input input:focus {
    border-color: #4877ce;
}
div.input input:valid, div.input input:focus, div.input input[readonly] {
    padding-top: 12px;
}

div.input input:focus + label, div.input input:valid + label, div.input input[readonly] + label, div.select select + label {
    margin-top: -12px;
    height: 62px;
    font-size: 12px;
}

.checkbox {
    position: relative;
    vertical-align: middle;
    line-height: 50px;
    height: 50px;
}
.checkbox input[type='checkbox'] {
    display: none;
}
.checkbox input[type='checkbox'] + label {
    margin: 0;
    color: #424242;
    font-size: 15px;
    line-height: 26px;
    vertical-align: middle;
    display: inline-block;
}

.checkbox input[type='checkbox'] + label::before {
    font-family: "FontAwesome", sans-serif;
    content: "";
    border: 1px solid #c4c4c4;
    border-radius: 6px;
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 9px;
    -webkit-transition: .4s;
}

.checkbox input[type='checkbox']:checked + label::before {
    content: "\f00c";
    color: #1f59c3;
    border-color: #4877ce;
}

div.input a.ra {
    color: #234182;
    text-decoration: none;
    font-size: 15px;
    line-height: 45px;
    float: right;
    position: absolute;
    top: 0; right: 0;
    margin: auto;
    z-index: 3;
}
/* div.input end */


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* msg styles */
.error_msg {
    font-size: 11px;
    height: 11px;
    color: #E53935;
    position: absolute;
    bottom: 0; margin-bottom: -9px;
}
.success_msg {
    color: #234182 !important;
}

/* end msg styles */
/* svg styles */
ul {
    list-style: none;
}
ul li {
    text-align: left;
    font-size: 14px;
}
/* svg styles end */
.radio {
    vertical-align: middle;
}
.radio input, .radio label {
    vertical-align: middle;
}
.radioSelect input[type="radio"]:checked + label::before {
    font-family: "FontAwesome", sans-serif;
    width: 36px;
    height: 36px;
    font-size: 22px;
    text-align: left;
    line-height: 36px;
    vertical-align: middle;
    display: inline-block;
    margin-left: 9px;
    -webkit-transition: .4s;
    content: "\f00c";
    color: #ffffff;
    position: absolute;
    left: 9px;
}
/* columns */

.col-container {
    display: flex;
}
.col-1 {
    width: 10% !important;
}
.col-2 {
    width: 20% !important;
}
.col-3 {
    width: 30% !important;
}
.col-4 {
    width: 40% !important;
}
.col-5 {
    width: 50% !important;
}
.col-6 {
    width: 60% !important;
}
.col-7 {
    width: 70% !important;
}
.col-8 {
    width: 80% !important;
}
.col-9 {
    width: 90% !important;
}
.col-10 {
    width: 100% !important;
}
.colVertSep + .colVertSep {
    margin-left: 6px;
}
/* columns end */
.radioSelect {
    border-radius: 5px;
    border: 1px solid #4877ce;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.radioSelect input[type="radio"] {
    top: 0; right: 0;
    bottom: 0; left: 0;
    position: absolute;
    display: none;
}
.radioSelect input[type="radio"]:checked + label {
    background-color: #4877ce;
    color: white;
}
.radioSelect.left {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: none;
}
.radioSelect.right {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: none;
}
.radioSelect label {
    width: 100%;
    height: 100%;
    display: block;
}
/* media settings */
.maxiDispMobileShow {
    display: none;
}
.maxiDispMobileHide {
    display: block;
}

@media (max-width: 720px) {
    .maxiDispMobileShow {
        display: block;
    }
    .maxiDispMobileHide {
        display: none;
    }
    .maxiPanel {
        width: 100%;
        padding: 11px 11px;
    }
    div.input {
        width: 100%;
    }
}
/* media settings end */

.hide {
    display: none;
}