@import-once "variables";
@import-once "font-awesome";


#cm {
  .keyvaluepairs {

    list-style: none;

    ul {
      list-style: none;
    }

    li.inputs {
      padding-bottom: 5px;
      span {
        padding: 0 3px 0 3px;
      }
    }

    ul.options {
      li {
        display: inline-block;
        padding-right: 3px;
        padding-bottom: 3px;

        span {
          .button();
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }

      }
      span {
        .button();
        display: inline-block;
        border-right: 1px solid @base-border-color;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        &:hover {
          cursor: default;
          background: @btn-background-color;
          border-color: @base-border-color;
        }

        &:active {
          background: @btn-background-color;
          border-color: @base-border-color;
          box-shadow: none;
        }

      }
      button {
        border-left: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }

  div.suggest-combo {
    height: 26px;
    position:relative;
  }
  div.suggest-combo .input-div{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:20px;
  }
  div.suggest-combo .input-div input{
    width:100%;
    height:100%;
    box-sizing:border-box;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  div.suggest-combo > span {
    .button();
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    padding:0;
    height:26px;
    width:20px;

    text-align: center;
    line-height: 26px;

    border:1px solid @base-border-color;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

}