@import-once "variables";
/*** ESSENTIAL STYLES ***/
#cm .sf-menu, #cm .sf-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

#cm .sf-menu {
  line-height: 1.0;
}

#cm .sf-menu ul {
  position: absolute;
  top: -9990px;
  width: 150px; /* left offset of submenus need to match (see below) */
}

#cm .sf-menu ul li {
  width: 100%;
}

#cm .sf-menu li:hover {
  visibility: inherit; /* fixes IE7 'sticky bug' */
}

#cm .sf-menu li {
  float: left;
  position: relative;
}

#cm .sf-menu a {
  display: block;
  position: relative;
}

#cm .sf-menu li:hover ul,
#cm .sf-menu li.sfHover ul {
  left: 0;
  top: 30px; /* match top ul list item height */
  z-index: 99;
}

#cm ul.sf-menu li:hover li ul,
#cm ul.sf-menu li.sfHover li ul {
  top: -9990px;
}

#cm ul.sf-menu li li:hover ul,
#cm ul.sf-menu li li.sfHover ul {
  left: 150px; /* match ul width */
  top: 0;
}

#cm ul.sf-menu li li:hover li ul,
#cm ul.sf-menu li li.sfHover li ul {
  top: -9990px;
}

#cm ul.sf-menu li li li:hover ul,
#cm ul.sf-menu li li li.sfHover ul {
  left: 150px; /* match ul width */
  top: 0;
}

/*** DEMO SKIN ***/
#cm .sf-menu {
  float: left;
}

#cm .sf-menu a {
  padding: 7px 12px;
  text-decoration: none;
  height: 100%;
  //display: inline-block;
  box-sizing: border-box;
}

#cm ul.sf-menu.with-icons > li > a,
#cm .sf-menu ul.with-icons > li > a {
  padding-left: 25px;
  background: no-repeat 5px center;
}

#cm .sf-menu a, #cm .sf-menu a:visited { /* visited pseudo selector so IE6 applies text colour*/
  color: #fff;
}

#cm .sf-menu li {
  height: 30px;
  background-color: @top-bg;
}

#cm .sf-menu li li {
}

#cm .sf-menu li li li {
}

#cm .sf-menu li:hover,
#cm .sf-menu a:hover {
  background:lighten(@top-bg,15%);
  outline: 0;
}

/*** arrows **/
#cm .sf-menu a.sf-with-ul {
  padding-right: 27px;
  min-width: 1px; /* trigger IE7 hasLayout so spans position accurately */
}

#cm .sf-sub-indicator {
  position: absolute;
  display: block;
  right: 9px;
  top: 12px; /* IE6 only */
  width: 10px;
  height: 10px;
  text-indent: -9990px;
  overflow: hidden;
  background: url('../images/arrows-sf.png') no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}

#cm a > .sf-sub-indicator { /* give all except IE6 the correct values */
  top: 8px;
  background-position: 0 -100px; /* use translucent arrow for modern browsers*/
}

/* apply hovers to modern browsers */
#cm a:focus > .sf-sub-indicator,
#cm a:hover > .sf-sub-indicator,
#cm a:active > .sf-sub-indicator,
#cm li:hover > a > .sf-sub-indicator,
#cm li.sfHover > a > .sf-sub-indicator {
  background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
#cm .sf-menu ul .sf-sub-indicator {
  background-position: -10px 0;
}

#cm .sf-menu ul a > .sf-sub-indicator {
  background-position: 0 0;
}

/* apply hovers to modern browsers */
#cm .sf-menu ul a:focus > .sf-sub-indicator,
#cm .sf-menu ul a:hover > .sf-sub-indicator,
#cm .sf-menu ul a:active > .sf-sub-indicator,
#cm .sf-menu ul li:hover > a > .sf-sub-indicator,
#cm .sf-menu ul li.sfHover > a > .sf-sub-indicator {
  background-position: -10px 0; /* arrow hovers for modern browsers*/
}

/*** shadows for all but IE6 ***/
#cm .sf-shadow ul {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

#cm .sf-shadow ul.sf-shadow-off {
  background: transparent;
}


