//@import "mdc/material-design-color-palette";
@import "font-awesome/less/font-awesome";
@import "variables";
@import "ui";
@import "menu";
@import "buttons";
@import "inputs";

.fa-insert-icon(@fa-icon) {
  .fa-icon;
  &:before {
    content: @fa-icon;
  }
}

@color_1: #0000EE;
@color_2: @dark-text-color;
@color_3: #000080;
@color_5: #000040;
@color_6: #3B6E99;
@color_7: @dark-text-color;
@clickable-color: #01579B;
@color_10: inherit;
@progress-bar-color: #333333;
@color_13: #362b36;
@color_14: #222222;
@color_15: #2779aa;
@color_16: #0070a3;
@color_17: #ffffff;
@color_18: #363636;
@color_19: #fff;
@font-family: Arial,Helvetica Neue,Helvetica,sans-serif;


@form-color: @dark-text-color;

body {
  text-rendering: optimizeLegibility;
}

#cm {
  div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
  }

  fieldset {
    border: 1px solid #9E9E9E;
    padding: 5px;
    legend {
      margin-left: 15px;
      color: @form-color;
      font-weight: @font-weight-bold;
      padding-left: 4px;
      padding-right: 4px;
    }
  }
  label {
    color: @form-color;
    font-size: @base-font-size;
  }

  color: @darker-text-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: @content-bg;
  font-family: @font-family;
  font-weight: 400;
  font-size: 12px;
  width: 100%;
  height: 100%;
  #top {
    .user-select-none();
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
    background-color: @top-bg;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    color: #fff;
  }
  #content.main-content {
    position: absolute;
    top: 34px;
    left: 0;
    bottom: 0;
    right: 0;
  }
  #content {
    > .content-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      overflow: auto;
      > .panel-frame {
        margin: 5px;
      }
    }
  }
  div.panel-frame {
    background-color: @content-bg;
    position: relative;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.65);
    border-radius: 3px;

    & + div.panel-frame {
      margin-top: 10px;
    }
    > div.panel-frame-top {
      background-color: rgba(0, 104, 154, 0.11);
      border-bottom: 1px solid fade(@top-bg,60%);
      color: @dark-text-color;
      height: 20px;
      padding: 5px;
      cursor: default;
      .panel-frame-title {
        display: inline-block;
        line-height: 20px;
        min-width: 1px;
        font-size: @base-font-size;
        font-weight: @font-weight-bold;
        padding-left: 4px;
      }
      .panel-frame-buttons {
        display: inline-block;
        float: right;
        height: 20px;
        padding: 1px;
        button {
          display: inline-block;
          text-align: center;
          border: none;
          background: none;
          padding: 0 2px 0 2px;
          width: 20px;
          height: 20px;
          margin-left: 3px;
          div {
            vertical-align: top;
            font-size: 18px;
            line-height: 18px;
            color: #607D8B;
          }
        }

        button.pin-to-home {
          div {
            .fa-insert-icon(@fa-var-map-pin)
          }
        }

        button.move-up {
          div {
            .fa-insert-icon(@fa-var-caret-up)
          }
        }
        button.move-down {
          div {
            .fa-insert-icon(@fa-var-caret-down)
          }
        }
      }
    }
    > div.panel-frame-body {
      padding: 2px 3px;
    }
  }
  div.panel-frame.collapsed {
    > div.panel-frame-top {
      border-bottom: none;
      .panel-frame-buttons {
        button.collapse {
          div {
            //noinspection LessUnresolvedMixin
            .fa-flip-vertical;
          }
        }
      }
    }
    > div.panel-frame-body {
      height: 0 !important;
      overflow: hidden !important;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }
  }
  div.panel-frame.pinned-to-home {
    > div.panel-frame-top {
      .panel-frame-buttons {
        button.pin-to-home {
          -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.4) inset, 1px 1px 2px rgba(0, 0, 0, 0.5) inset;
          background: url("../images/icons/pinned-12x12.png") no-repeat scroll center;
        }
      }
    }
  }
  div.panel-frame.v-resizable {
    > div.frame-v-resizer {
      position: absolute;
      bottom: -3px;
      height: 6px;
      left: 0;
      right: 0;
      cursor: n-resize;
      -moz-user-select: none;
      -webkit-user-select: none;
    }
    > div.frame-v-resizer.resizing {
      border-bottom: 1px dashed black;
      border-bottom: 1px dashed rgba(0, 0, 0, 0.5);
    }
  }
  div.panel-frame.v-resizable.collapsed {
    > div.frame-v-resizer {
      display: none;
    }
  }
  div.toolbar {
    text-align: center;
    > * {
      vertical-align: top;
      display: inline-block;
      //height: 26px;
      line-height:@default-line-height;
      margin-right: 4px;
      margin-bottom: 3px;
    }
    > button {
      line-height: @default-line-height - 1;
    }
    > input {
      &:not([type="radio"]) {
        &:not([type="checkbox"]) {
          margin-right: 4px;
          margin-bottom: 3px;
        }
      }
      line-height: @default-line-height;
    }
    > #ui-datepicker-div {
      display: block;
      height: auto;
      box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
    }
    > br {
      display: inline;
      line-height: 30px;
    }
    select {
      line-height: @default-line-height;
    }
    > .align-left {
      float: left;
    }
    > br.align-left {
      float: none;
    }
    > .align-right {
      float: right;
    }
  }
  select {
    margin: 0;
    line-height: @default-line-height;
    height: @default-line-height + 2;
    border: solid 1px @base-border-color;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 4px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 4px;
    &:focus {
      background: #FFF;
      color: @color_2;
    }
  }
  .clr {
    width: 0 !important;
    height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    clear: both !important;
    display: block !important;
    content: '';
  }
  div.basic-tooltip {
    position: fixed;
    display: none;
    background-color: #FFFDE7;
    font-size: 12px;
    padding: 3px 5px;
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    z-index: 65535;
  }
  div.window-outer {
  }
  div.loading-mask {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.2);
    z-index: 100000;
    table {
      width: 100%;
      height: 100%;
    }
    .progress-bar-frame {
      display: none;
    }
    div.progress-bar-outer {
      position: relative;
      height: 13px;
      background: url("../images/progress_bar_empty_green.png") repeat-x scroll 0 0 transparent;
      border: 1px solid #ccc;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      text-align: center;
      .progress-bar-progress {
        height: 100%;
        background: url("../images/progress_bar_green.png") repeat-x scroll 0 0 transparent;
        bottom: 0;
        left: 0;
        position: absolute;
        top: 0;
      }
      .progress-bar-text {
        color: @progress-bar-color;
        font-size: 11px;
        position: relative;
      }
    }
    div.progress-bar-outer.red {
      background-image: url("../images/progress_bar_empty_red.png");
      .progress-bar-progress {
        background-image: url("../images/progress_bar_red.png");
      }
    }
    div.progress-bar-outer.blue {
      background-image: url("../images/progress_bar_empty_blue.png");
      .progress-bar-progress {
        background-image: url("../images/progress_bar_blue.png");
      }
    }
  }
  div.h-separator {
    margin: 10px;
  }
  .window-outer {
    display: none;
    position: fixed;
    > .panel-frame {
      > .panel-frame-top {
        -moz-user-select: none;
        -webkit-user-select: none;
      }
      > .panel-frame-body {
        margin: 2px;
        overflow: visible;
      }
    }
  }
  .window-outer.moving {
    .panel-frame {
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      .panel-frame-top {
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }
    > .panel-frame {
      > .panel-frame-body {
        > * {
          visibility: hidden !important;
        }
      }
    }
  }
  div.msg-box-content {
    div.toolbar {
      button {
        min-width: 70px;
      }
      margin-top: 10px;
    }
    td.icon-cell {
      padding: 5px;
      text-align: center;
      div.icon {
        color: #879FAB;
        width: 50px;
        line-height: 50px;
        font-size: 50px;
      }
    }
    td.content-cell {
      .content {
        padding: 5px;
        min-width: 150px;
        max-width: 450px;
        max-height: 300px;
        overflow: auto;
      }
      li {
        padding-bottom: 4px;
      }
      ul {
        padding-left: 25px;
      }
    }
  }
  span.link {
    color: @color_1;
    cursor: pointer;
    text-decoration: underline;
  }
  .panel-frame {
    .shortcut-hint {
      display: none;
      background: none repeat scroll 0 0 white;
      border: 1px solid black;
      font-size: 10px;
      padding: 0 2px;
      position: absolute;
      top: 0;
    }
    button {
      > .shortcut-hint {
        left: -10px;
        top: -8px;
      }
    }
  }
  .panel-frame.kd-ctrl {
    .shortcut-hint.k-ctrl {
      display: block;
    }
  }
  .panel-frame.kd-alt {
    .shortcut-hint.k-alt {
      display: block;
    }
  }
  .panel-frame.kd-shift {
    .shortcut-hint.k-shift {
      display: block;
    }
  }
  .panel-frame.kd-ctrl.kd-alt {
    .shortcut-hint.k-ctrl-alt {
      display: block;
    }
  }
  .panel-frame.kd-ctrl.kd-shift {
    .shortcut-hint.k-ctrl-shift {
      display: block;
    }
  }
  .panel-frame.kd-ctrl.kd-alt.kd-shift {
    .shortcut-hint.k-ctrl-alt-shift {
      display: block;
    }
  }
  .panel-frame.show-shortcut-hints {
    .shortcut-hint {
      display: block;
    }
  }
  .split-button {
    button {
      margin: 0;
    }
    button.selected {
      background: #CCDDCC;
    }
  }
  .load-direct-tpl-tittle {
    color: @form-color;
    font-size: 18px;
    font-weight: @font-weight-bold;
    padding: 4px;
  }
  div.loading-mask.progress-bar {
    .loading-bar {
      display: none;
    }
    .progress-bar-frame {
      display: inline-block;
    }
  }
  button {
    .button();
  }
  .icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    line-height: 16px;
  }
  .icon-disk {
    background: url(../images/icons/disk-16x16.png) no-repeat;
  }
  .icon-close {
    background: url(../images/icons/cross.png) no-repeat;
  }
  .icon-add {
    background: url(../images/icons/add.png) no-repeat;
  }
  .icon-send {
    background: url(../images/icons/send.png) no-repeat;
  }
  .icon-previous {
    background: url(../images/icons/previous.png) center no-repeat;
  }
  .icon-next {
    background: url(../images/icons/next.png) center no-repeat;
  }
  .icon-find {
    background: url(../images/icons/find.png) center no-repeat;
  }
  .icon-first {
    background: url(../images/icons/first.png) center no-repeat;
  }
  .icon-last {
    background: url(../images/icons/last.png) center no-repeat;
  }
  .icon-annul {
    background: url(../images/icons/annul.png) center no-repeat;
  }
  .icon-sign {
    background: url(../images/icons/sign.png) center no-repeat;
  }
  .icon-certificate {
    background: url(../images/icons/certificate.png) center no-repeat;
  }
  .icon-prohibited {
    background: url(../images/icons/prohibited.png);
  }
  .icon-pdf {
    background: url(../images/icons/pdf.png);
  }
  .icon-excel {
    background: url(../images/icons/xlsx.png);
  }
  .icon-xlsx {
    background: url(../images/icons/xlsx.png);
  }
  .icon-xls {
    background: url(../images/icons/xls.png);
  }
  .icon-xlsxml {
    background: url(../images/icons/xlsxml.png);
  }
  .icon-csv {
    background: url(../images/icons/csv.png);
  }
  .icon-vcard {
    background: url(../images/icons/vcard.png);
  }
  .icon-outlook {
    background: url(../images/icons/document-outlook.png);
  }
  .icon-ldif {
    background: url(../images/icons/browser_ldifeditor.gif);
  }
  .icon-other-import {
    background: url(../images/icons/application-import.png);
  }
  .icon-newspaper {
    background: url(../images/icons/newspaper.png);
  }
  .icon-sms {
    background-image: url(../images/icons/sms_message.png);
  }
  .icon-email {
    background-image: url(../images/icons/mail_message.png);
  }
  .icon-sms-notification-enable {
    background: url(../images/icons/sms_message.png);
  }
  .icon-sms-notification-disable {
    background: url(../images/icons/sms_message_2.png);
  }
  .icon-delete {
    background: url(../images/icons/cross-script.png);
  }
  .icon-mail-notification-enable {
    background: url(../images/icons/mail_message.png);
  }
  .icon-mail-notification-disable {
    background: url(../images/icons/mail_message_2.png);
  }
  .icon-mail-message-readed {
    background: url(../images/icons/mail_message_readed.png);
  }
  .icon-mail-stack {
    background: url(../images/icons/mails-stack.png);
  }
  .icon-mail-message-send {
    background: url(../images/icons/mail-send.png);
  }
  .icon-system-notification-enable {
    background: url(../images/icons/sys_message.png);
  }
  .icon-system-notification-disable {
    background: url(../images/icons/sys_message_2.png);
  }
  .icon-session {
    background: url(../images/icons/session.png) center no-repeat;
  }
  .icon-refresh {
    background: url(../images/icons/refresh.png) center no-repeat;
  }
  .icon-search {
    background: url(../images/icons/magnifier.png) center no-repeat;
  }
  .icon-clock {
    background: url(../images/icons/clock.png) center no-repeat;
  }
  .icon-courier {
    background: url(../images/icons/user_share.png) no-repeat;
  }
  .icon-question {
    background: url(../images/icons/question-button.png) center no-repeat;
  }
  .icon-print {
    background: url(../images/icons/print.png) center no-repeat;
  }
  .icon-edit {
    background: url(../images/icons/pencil.png) center no-repeat;
  }
  .icon-edited {
    background: url(../images/icons/edited.png) center no-repeat;
  }
  .icon-adinfo {
    border-style: none;
    padding-left: 3px;
    vertical-align: text-bottom;
  }
  .icon-pay-online {
    background: url(../images/icons/online_payment.png) center no-repeat;
  }
  .icon-package {
    background: url(../images/icons/package.png) center no-repeat;
  }
  .icon-smile {
    background: url(../images/icons/smiley.png) center no-repeat;
  }
  .icon-invoice {
    background: url(../images/icons/invoice.png) center no-repeat;
  }
  .icon-optimization {
    background: url(../images/icons/chart-pie.png) center no-repeat;
  }
  .icon-hmode-off {
    background: url(../images/icons/cog.png) center no-repeat;
  }
  .icon-hmode-on {
    background: url(../images/icons/cog1.png) center no-repeat;
  }
  .icon-del-folder {
    background: url('../images/icons/hiks.png') center no-repeat;
  }
  .icon-spider {
    background: url('../images/icons/spider.png') center no-repeat;
  }
  .icon-remove {
    background: url('../images/icons/bin_closed.png') center no-repeat;
  }
  .icon-table-import {
    background: url('../images/icons/table-import.png') center no-repeat;
  }
  .icon-arrow-down {
    background: url('../images/icons/arrow-down.png') center no-repeat;
  }
  .icon-loadings-add {
    background: url('../images/icons/add.png') center no-repeat;
  }
  .icon-loadings-addnote {
    background: url('../images/icons/ico_toolbox_addnote.png') center no-repeat;
  }
  .icon-loadings-delete {
    background: url('../images/icons/cross.png') center no-repeat;
  }
  .icon-loadings-edit {
    background: url('../images/icons/pencil.png') center no-repeat;
  }
  .icon-loadings-message {
    background: url('../images/icons/ico_toolbox_message.png') center no-repeat;
  }
  .icon-loadings-print {
    background: url('../images/icons/print.png') center no-repeat;
  }
  .icon-loadings-template {
    background: url('../images/icons/ico_toolbox_template.png') center no-repeat;
  }
  .icon-loadings-track {
    background: url('../images/icons/ico_toolbox_track.png') center no-repeat;
  }
  .icon-loadings-watch {
    background: url('../images/icons/ico_toolbox_watch.png') center no-repeat;
  }
  .icon-delivery {
    background: url(../images/icons/delivery.png);
  }
  .icon-box_open {
    background: url('../images/icons/box_open.png');
  }
  .icon-user_arrow_left {
    background: url('../images/icons/user_arrow_left.png');
    font-family: @font-family;
  }
  .icon-user_arrow_right {
    background: url('../images/icons/user_arrow_right.png');
  }
  .icon-agreement_confirmed {
    background: url('../images/icons/agreement_confirmed.png');
  }
  .icon-agreement_unconfirmed {
    background: url('../images/icons/agreement_unconfirmed.png');
  }
  .icon-agreements {
    background: url('../images/icons/agreements.png');
  }
  .icon-lock {
    background: url('../images/icons/lock.png');
  }
  .icon-unlock {
    background: url('../images/icons/unlock.png');
  }
  .icon-hide_hidden_controls {
    background: url('../images/icons/stock_hide_hidden_controls.png');
  }
  .icon-show_hidden_controls {
    background: url('../images/icons/stock_show_hidden_controls.png');
  }
  .icon-calendar-day {
    background-image: url('../images/icons/calendar-day.png');
  }
  .icon-calendar-week {
    background-image: url('../images/icons/calendar-week.png');
  }
  .icon-calendar-month {
    background-image: url('../images/icons/calendar-month.png');
  }
  .icon-calendar-2_month {
    background-image: url('../images/icons/calendar-2_month.png');
  }
  .icon-calendar-3_month {
    background-image: url('../images/icons/calendar-3_month.png');
  }
  .icon-calendar-range {
    background-image: url('../images/icons/calendar-range.png');
  }
  .icon-info {
    background-image: url('../images/icons/info.png');
  }
  .icon-three-steps {
    background: url('../images/icons/three_steps.png') no-repeat;
  }
  .icon-one-step {
    background: url('../images/icons/one_step.png') no-repeat;
  }
  .icon-getted_parcel {
    background-image: url('../images/icons/getted_parcel.png');
  }
  .icon-getted_parcel_checked {
    background-image: url('../images/icons/getted_parcel_checked.png');
  }
  .icon-getted_parcel_unchecked {
    background-image: url('../images/icons/getted_parcel_unchecked.png');
  }
  .icon-link {
    background: url('../images/icons/link.png') no-repeat;
  }
  .icon-book {
    background: url('../images/icons/book_open.png');
  }
  .icon-created-info {
  }
  .icon-updated-info {
  }
  .icon-closed-info {
    background-image: url('../images/icons/confirmed_user.png');
  }
  .icon-forward {
    background-image: url('../images/icons/forward-16x16.png');
  }
  .icon-backward {
    background-image: url('../images/icons/backward.png');
  }
  .content_main {
    background: #f3f8fc;
    padding: 5px;
  }
  input {
    &:not([type="radio"]) {
      &:not([type="checkbox"]) {
        resize: none;
        color: @dark-text-color;
        border: solid 1px @base-border-color;
        padding: 2px 2px 2px 4px;
        border-radius: 3px;
        line-height: @default-line-height - 4;
        height: @default-line-height - 4;
        background: #FFF;
        font-size: 12px;
        font-family: @font-family;
        margin: 0;
        &:focus {
          background: #FFF;
          outline: none;
          border-color: #03A9F4;
          box-shadow: 0 0 1px 0 #03A9F4;
        }
        &:hover {
          //background: #F9F9F9;
        }

      }
    }
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, background-color ease-in-out .15s;
    background: #FFF;
  }
  textarea {
    resize: none;
    color: @color_5;
    border: solid 1px @base-border-color;
    padding: 2px;
    background: #FFF;
    font-size: 12px;
    font-family: @font-family;
    &:focus {
      background: #FFF;
      outline: none;
      border-color: #03A9F4;
      box-shadow: 0 0 1px 0 #03A9F4;
    }
    &:hover {

    }
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  }
  input.datePicker {
    width: 80px;
  }
  input[type=password] {
    font-weight: @font-weight-bold;
  }
  input[suggest] {
    &:not([type="radio"]) {
      background: #FFFDE7;
    }
  }
  input.ui-autocomplete-loading[suggest] {
    &:not([type="radio"]) {
      background: url('images/ui-anim_basic_16x16.gif') right center no-repeat, #ffffef;
      &:hover {
        background: url('images/ui-anim_basic_16x16.gif') right center no-repeat, #ffffef;
      }
      &:focus {
        background: url('images/ui-anim_basic_16x16.gif') right center no-repeat, #ffffef;
      }
    }
  }
  input.err {
    &:not([type="radio"]) {
      &:not([type="checkbox"]) {
        border-color: #E91E63;
        background: rgba(233, 30, 99, 0.08);;
      }
    }
    border-color: #E91E63;
    background: rgba(233, 30, 99, 0.08);;
  }
  textarea.err {
    border-color: #E91E63;
    background: rgba(233, 30, 99, 0.08);;
  }
  select.err {
    border-color: #E91E63;
    background: rgba(233, 30, 99, 0.08);;
  }
  button[disabled] {
    opacity: 0.5;
    filter: alpha(opacity=50);
    &:hover {
      background: #FFF;
      border: 1px solid @base-border-color;
      color: @color_2;
      cursor: default;
    }
  }
  div.grid-container {
    table.grid-data {
      table-layout: fixed;
      button {
        background: none;
        border: 1px solid transparent;
        padding: 0 4px;
        vertical-align: top;
        color: @color_2;
        margin: 0;
        -moz-box-shadow: none;
        box-shadow: none;
        -webkit-box-shadow: none;
        outline: none;
        -moz-outline-style: none;
        &:hover {
          cursor: pointer;
          color: @color_6;
          border: 1px solid @base-border-color;
          background: #EEE;
        }
        &:active {
          &:not([disabled]) {
            outline: none;
            -moz-outline-style: none;
            //padding: 2px 4px;
            border: 1px solid @base-border-color;
            background: #FFF;
          }
        }
        span {
          font-size: 12px;
        }
      }
      button[disabled] {
        opacity: 0.5;
        filter: alpha(opacity=50);
      }
    }
  }
  .fieldset {
    position: relative;
    border: 1px solid #1D5889;
    margin-top: 20px;
    padding: 5px;
    .fieldset-legend {
      background-color: #F0F4FC;
      color: @form-color;
      font-weight: @font-weight-bold;
      height: 22px;
      left: 15px;
      line-height: 22px;
      padding: 0 4px;
      position: absolute;
      top: -12px;
    }
    .fieldset-caption {
      position: relative;
      height: 20px;
      top: -26px;
      width: auto;
      float: left;
      background-color: #FFF;
      border-left: 1px solid;
      border-right: 1px solid;
      border-top: 1px solid;
      margin-left: 15px;
      color: @form-color;
      font-weight: @font-weight-bold;
      padding-left: 4px;
      padding-right: 4px;
    }
  }
  input[type=text].userInput {
    background: none repeat scroll 0 0 transparent;
    border: 0;
    border-bottom: dotted 2px #000;
    &:hover {
      //background: none repeat scroll 0 0 transparent;
      border: 0;
      border-bottom: dotted 2px #000;
    }
    &:focus {
      background: none repeat scroll 0 0 transparent;
      border: 0;
      border-bottom: dotted 2px #000;
    }
  }
  input[disabled] {
    opacity: 0.5;
    filter: alpha(opacity=50);
  }
  span.file-upload {
    margin-right: 80px;
  }
  .clickable {
    color: @clickable-color;
    cursor: pointer;
  }
  .rtp {
    margin-bottom: 5px;
    margin-right: 10px;
  }
  .edited-info {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    .icon-updated-info {
      margin-left: 3px;
    }
    .icon-closed-info {
      margin-left: 3px;
    }
  }
  .grid-container {
    div.grid-data {
      overflow: auto;
      cursor: default;
      position: relative;
      div.resizer-line {
        display: none;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 0;
        z-index: 1;
        border-right: 1px dashed black;
        border-right: 1px dashed rgba(0, 0, 0, 0.5);
      }
    }
    .locked-columns {
      float: left;
      overflow: hidden;
      max-width: 100%;
      .grid-headers-inner {
        padding-right: 0;
      }
      .grid-data {
        overflow: hidden;
      }
      table.grid-data {
        margin-bottom: 20px;
      }
    }
    table.grid-data {
      table-layout: fixed;
      border: 0 none;
      border-collapse: collapse;
      border-spacing: 0px;
      > tbody {
        > tr {
          > td {
            padding: 3px 6px;
            border: 1px solid rgba(0, 0, 0, 0.02);
            line-height: @default-line-height;
            white-space: nowrap;
            > div {
              overflow: hidden;
            }
          }
          //background-color: #F1F3F9;
        }
        > tr.selected {
          background: #FFF59D;
        }
        > tr.odd {
          background: rgba(96, 125, 139, 0.09);
        }
        > tr.odd.selected {
          background-color: #FFF59D;
        }
        > tr.red {
          background: #FF8080;
        }
        > tr.empty-row {
          td {
            visibility: hidden;
            padding-top: 0;
            padding-bottom: 0;
            div {
              height: 0;
            }
          }
        }
      }
      tbody {
        td.clickable {
          div {
            color: @clickable-color;
            cursor: pointer;
          }
        }
      }
    }
    table.grid-headers {
      table-layout: fixed;
      .user-select-none();
      color: #37474F;
      border: 0 none;
      border-bottom: 2px solid fade(@top-bg,60%);
      border-collapse: collapse;
      border-spacing: 0px;
      > tbody {
        > tr {
          > td {
            padding: 3px 6px;
            border: 1px solid rgba(0, 0, 0, 0.02);
            white-space: nowrap;
          }
        }
      }
      > thead {
        > tr {
          > th {
            line-height: 22px;
            border: 1px solid rgba(0, 0, 0, 0.04);
            white-space: nowrap;
            background: rgba(0, 104, 154, 0.11);
            padding: 3px 0 3px 6px;
          }
        }
      }
      thead {
        th {
          div {
            cursor: default;
            display: inline-block;
            overflow: hidden;
            vertical-align: middle;
          }
          div.sort-separator {
            cursor: default;
            height: 16px;
            min-height: 100%;
            width: 0px;
            border-left: 1px solid #bbbbbb;
            border-left: 1px solid rgba(0, 0, 0, 0.1);
            margin: 0 3px;
          }
          div.column-resizer {
            height: 16px;
            min-height: 100%;
            width: 4px;
            top: 0;
            left: 0;
            position: relative;
          }
          div.sort-btn {
            width: 24px;
          }
          span.sort-num {
            width: 12px;
            height: 12px;
            vertical-align: top;
            font-size: 10px;
            display: inline-block;
          }
          div.sort-img {
            width: 12px;
            height: 12px;
            .fa-insert-icon(@fa-var-sort);
            color: lighten(@default-icon-color, 35%);
          }
          div.sort-img.asc {
            .fa-insert-icon(@fa-var-sort-asc);
            color: @default-icon-color;
          }
          div.sort-img.desc {
            .fa-icon;
            .fa-insert-icon(@fa-var-sort-down);
            color: @default-icon-color;
          }
        }
        th.filtered {
          background: rgba(255, 253, 231, 0.5);
        }
        th.sortable {
          div {
            cursor: pointer;
          }
        }
        th.resizable {
          div.column-resizer {
            cursor: e-resize;
            height: 16px;
            min-height: 100%;
            width: 4px;
            top: 0 !important;
          }
        }
        th[rowspan="2"] {
          div.sort-separator {
            height: 38px;
          }
          div.column-resizer {
            height: 38px;
          }
        }
        th[rowspan="3"] {
          div.sort-separator {
            height: 60px;
          }
          div.column-resizer {
            height: 60px;
          }
        }
        th[rowspan="4"] {
          div.sort-separator {
            height: 81px;
          }
          div.column-resizer {
            height: 81px;
          }
        }
        th[rowspan="5"] {
          div.sort-separator {
            height: 103px;
          }
          div.column-resizer {
            height: 103px;
          }
        }
      }
      th.ctype-group {
        > div {
          position: relative;
          display: block;
          height: 22px;
          margin: 0 auto;
          > span {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            overflow: hidden;
          }
        }
      }
    }
    div.grid-headers-outer {
      overflow: hidden;
    }
    div.grid-headers-inner {
      min-width: 100%;
      padding-right: 20px;
    }
    .grid-bottom-bar {
      .user-select-none();
      padding: 5px 2px 0;
      &:empty {
        padding: 0;
      }
    }
    .paging-bar {
      > * {
        vertical-align: top;
        display: inline-block;
        height: 26px;
        line-height: 24px;
        margin-right: 4px;
        margin-bottom: 3px;
        color: @dark-text-color;
      }

      button {
        padding: 0;
        width: 28px;
        div {
          &.fa-fast-backward, &.fa-play, &.fa-fast-forward {
            color: @top-bg;
          }
        }
        &:disabled {
          div {
            &.fa-fast-backward, &.fa-play, &.fa-fast-forward {
              color: rgba(0, 0, 0, 0.4);
            }
          }
        }
      }

      span {
        margin: 0 2px;
      }
      input {
        height: 20px;
        line-height: 18px;
        width: 23px;
        text-align: center;
      }
      .paging-confirm {
        margin-left: 1px;
      }
      span.total-pages {
        margin-left: 3px;
        margin-right: 5px;
      }
      .paging-next {
      }
      .paging-next[disabled] {
      }
      .paging-last {
        margin-left: 2px;
        margin-right: 5px;
      }
      .paging-last[disabled] {
      }
      span.paging-per-page {
        display: none;
        height: 26px;
        line-height: 24px;
      }
      select.paging-per-page {
        height: 26px;
        margin: 0px 0;
        vertical-align: top;
        width: 50px;
      }
    }
    .grid-top-bar {
      padding: 3px 0 0 5px;
      &:empty {
        padding: 0;
      }
      .top-bar-title {
        color: darken(@top-bg,10%);
        font-size: 18px;
        font-weight: 400;
      }
    }

    .quick-filter {

      color: @dark-text-color;
      background: #FFFDE7;
      border: 1px solid @btn-background-color;
      box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.65);
      border-radius: 3px;
      position: absolute;
      z-index: 100;
      white-space: nowrap;
      td {
        padding: 2px;
        text-align: center;
      }
      td.name-cell {
        font-weight: @font-weight-bold;
      }
      td.confirm {
        padding-left: 0;
        padding-right: 0;
      }
      td.remove {
        padding-left: 0;
        padding-right: 0;
      }
    }
    tr.totals-row {
      background-color: #E3E8F4;
      td {
        font-weight: @font-weight-bold;
        .clickable {
          cursor: inherit;
          color: @color_10;
        }
      }
      td.empty {
        padding: 0;
        border-left: none;
        border-right: none;
      }
    }
    td.ctype-integer {
      text-align: right;
    }
    td.ctype-float {
      text-align: right;
    }
    td {
      .clickable {
        color: @clickable-color;
        cursor: pointer;
      }
    }
    th.ctype-checkBoxSelection {
      text-align: left;
    }
    td.ctype-checkBoxSelection {
      text-align: left;
    }
    td.ctype-rowIndex {
      text-align: right;
    }
    td.ctype-image {
      text-align: center;
    }
    td.ctype-editedBy {
      text-align: center;
    }
    td.ctype-button {
      text-align: center;
    }
    td.ctype-date {
      text-align: center;
    }
    td.ctype-dateTime {
      text-align: center;
    }
    td.ctype-time {
      text-align: center;
    }
    td.ctype-currency {
      text-align: right;
    }
    td.ctype-loadingStatus {
      img {
        margin-right: 3px;
      }
    }
    td.ctype-progressBar {
      div.progress-bar-outer {
        position: relative;
        height: 13px;
        background: url("../images/progress_bar_empty_green.png") repeat-x scroll 0 0 transparent;
        border: 1px solid #ccc;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        text-align: center;
        .progress-bar-progress {
          height: 100%;
          background: url("../images/progress_bar_green.png") repeat-x scroll 0 0 transparent;
          bottom: 0;
          left: 0;
          position: absolute;
          top: 0;
        }
        .progress-bar-text {
          color: @progress-bar-color;
          font-size: 11px;
          position: relative;
        }
      }
      div.progress-bar-outer.red {
        background-image: url("../images/progress_bar_empty_red.png");
        .progress-bar-progress {
          background-image: url("../images/progress_bar_red.png");
        }
      }
      div.progress-bar-outer.blue {
        background-image: url("../images/progress_bar_empty_blue.png");
        .progress-bar-progress {
          background-image: url("../images/progress_bar_blue.png");
        }
      }
    }
  }
  .grid-container.auto-vresize {
    height: 100%;
  }

  .filter-form {
    div.filter-items-container {
      min-height: 30px;
      max-height: 180px;
      padding: 5px 0;
      overflow-x: hidden;
      overflow-y: auto;
    }
    table.filter-items {
      width: 100%;
      > tbody {
        > tr {
          > td {
            > * {
              width: 100%;
              -moz-box-sizing: border-box;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              min-width: 50px;
            }
            > .ui-datepicker {
              width: auto;
            }
          }
        }
        > tr.filter-item-date {
          > td.value-cell {
            text-align: left;
            white-space: nowrap;
            > input {
              width: auto;
            }
            > span {
              width: auto;
              margin-left: 10px;
              margin-right: 10px;
            }
          }
        }
      }
      tr {
        td.name-cell {
          padding-right: 6px;
          font-weight: @font-weight-bold;
        }
        td.cmp-type-cell {
          > select {
            height: 28px;
            width: 98%;
          }
        }
        td.delete-cell {
          width: 1px;
          > button {
            width: auto;
            min-width: 10px;
          }
        }
      }
    }
  }

  .ui-dialog {
    position: absolute;
    padding: .2em;
    width: 300px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
    border: 1px solid #AED0EA;
    border-radius: 5px;
    -moz-border-radius: 5px;
    .ui-dialog-titlebar {
      padding: .5em 1em .3em;
      position: relative;
    }
    .ui-dialog-title {
      float: left;
      margin: .1em 16px .2em 0;
    }
    .ui-dialog-titlebar-close {
      position: absolute;
      right: .3em;
      top: 50%;
      width: 19px;
      margin: -10px 0 0 0;
      padding: 1px;
      height: 18px;
      span {
        display: block;
        margin: 1px;
      }
      &:hover {
        padding: 0;
      }
      &:focus {
        padding: 0;
      }
    }
    .ui-dialog-content {
      border: 0;
      padding: .5em 1em;
      background: none;
      overflow: auto;
      zoom: 1;
    }
    .ui-dialog-buttonpane {
      text-align: right;
      border-width: 1px 0 0 0;
      background-image: none;
      margin: 0 0 0 0;
      padding: 5px 5px 3px 5px;
      button {
        margin: 0 0 0 4px;
        min-width: 65px;
      }
    }
    .ui-resizable-se {
      width: 14px;
      height: 14px;
      right: 3px;
      bottom: 3px;
    }
  }
  .ui-draggable {
    .ui-dialog-titlebar {
      cursor: move;
    }
  }
  #ui-datepicker-div {
    display: none;
  }
  .ui-datepicker {
    width: 190px;
    padding: .2em .2em 0;
    .ui-datepicker-header {
      position: relative;
      padding: .2em 0;
    }
    .ui-datepicker-prev {
      position: absolute;
      top: 2px;
      width: 1.8em;
      height: 1.8em;
      left: 2px;
      span {
        display: block;
        position: absolute;
        left: 50%;
        margin-left: -8px;
        top: 50%;
        margin-top: -8px;
      }
    }
    .ui-datepicker-next {
      position: absolute;
      top: 2px;
      width: 1.8em;
      height: 1.8em;
      right: 2px;
      span {
        display: block;
        position: absolute;
        left: 50%;
        margin-left: -8px;
        top: 50%;
        margin-top: -8px;
      }
    }
    .ui-datepicker-prev-hover {
      top: 1px;
      left: 1px;
    }
    .ui-datepicker-next-hover {
      top: 1px;
      right: 1px;
    }
    .ui-datepicker-title {
      margin: 0 2.3em;
      line-height: 1.8em;
      text-align: center;
      select {
        font-size: 1em;
        margin: 1px 0;
      }
    }
    select.ui-datepicker-month-year {
      width: 100%;
    }
    select.ui-datepicker-month {
      width: 49%;
    }
    select.ui-datepicker-year {
      width: 49%;
    }
    table {
      width: 100%;
      font-size: .9em;
      border-collapse: collapse;
      margin: 0 0 .4em;
    }
    th {
      padding: .7em .3em;
      text-align: center;
      font-weight: @font-weight-bold;
      border: 0;
    }
    td {
      border: 0;
      padding: 1px;
      span {
        display: block;
        padding: .2em;
        line-height: 13px;
        text-align: right;
        text-decoration: none;
      }
      a {
        display: block;
        padding: .2em;
        line-height: 13px;
        text-align: right;
        text-decoration: none;
      }
    }
    .ui-datepicker-buttonpane {
      background-image: none;
      margin: .7em 0 0 0;
      padding: 0 .2em;
      border-left: 0;
      border-right: 0;
      border-bottom: 0;
      button {
        float: right;
        margin: .5em .2em .4em;
        cursor: pointer;
        padding: .2em .6em .3em .6em;
        width: auto;
        overflow: visible;
      }
      button.ui-datepicker-current {
        float: left;
      }
    }
  }
  .ui-datepicker.ui-datepicker-multi {
    width: auto;
  }
  .ui-datepicker-multi {
    .ui-datepicker-group {
      float: left;
      table {
        width: 95%;
        margin: 0 auto .4em;
      }
    }
    .ui-datepicker-group-last {
      .ui-datepicker-header {
        border-left-width: 0;
      }
    }
    .ui-datepicker-group-middle {
      .ui-datepicker-header {
        border-left-width: 0;
      }
    }
    .ui-datepicker-buttonpane {
      clear: left;
    }
  }
  .ui-datepicker-multi-2 {
    .ui-datepicker-group {
      width: 50%;
    }
  }
  .ui-datepicker-multi-3 {
    .ui-datepicker-group {
      width: 33.3%;
    }
  }
  .ui-datepicker-multi-4 {
    .ui-datepicker-group {
      width: 25%;
    }
  }
  .ui-datepicker-row-break {
    clear: both;
    width: 100%;
  }
  .ui-datepicker-rtl {
    direction: rtl;
    .ui-datepicker-prev {
      right: 2px;
      left: auto;
      &:hover {
        right: 1px;
        left: auto;
      }
    }
    .ui-datepicker-next {
      left: 2px;
      right: auto;
      &:hover {
        left: 1px;
        right: auto;
      }
    }
    .ui-datepicker-buttonpane {
      clear: right;
      button {
        float: left;
      }
      button.ui-datepicker-current {
        float: right;
      }
    }
    .ui-datepicker-group {
      float: right;
    }
    .ui-datepicker-group-last {
      .ui-datepicker-header {
        border-right-width: 0;
        border-left-width: 1px;
      }
    }
    .ui-datepicker-group-middle {
      .ui-datepicker-header {
        border-right-width: 0;
        border-left-width: 1px;
      }
    }
  }
  .ui-datepicker-cover {
    display: block;
    position: absolute;
    z-index: -1;
    filter: mask();
    top: -4px;
    left: -4px;
    width: 200px;
    height: 200px;
  }
  .ui-timepicker-div {
    .ui-widget-header {
      margin-bottom: 8px;
    }
    dl {
      text-align: left;
      dt {
        height: 25px;
        margin-bottom: -25px;
      }
      dd {
        margin: 0 10px 10px 65px;
      }
    }
    td {
      font-size: 90%;
    }
  }
  .ui-tpicker-grid-label {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
  }
  .autocomplete-w1 {
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 4px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 4px;
    position: absolute;
    top: 0px;
    left: 0px;
    background: none;
    margin: 0;
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
  }
  .autocomplete {
    font-family: @font-family;
    font-size: 12px;
    background: #FFF;
    border: 1px solid #999;
    cursor: default;
    text-align: left;
    max-height: 350px;
    overflow: auto;
    margin: 0;
    overflow-x: hidden;
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    .selected {
      background: #f3f8fc;
    }
    div {
      padding: 3px 5px;
      white-space: nowrap;
    }
    strong {
      font-weight: @font-weight-bold;
    }
  }
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  text-align: left;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  text-align: left;
}

div.basic-tooltip {
  position: fixed;
  display: none;
  background-color: #FFFDE7;
  font-family: @font-family;
  font-size: 12px;
  padding: 3px 5px;
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 65535;
  border-radius:3px;
  .fixed-width {
    display: inline-block;
    max-width: 350px;
    text-align: justify;
    white-space: normal;
    p {
      border-bottom: 1px dotted black;
      font-weight: @font-weight-bold;
      margin: 2px 0 3px;
      padding: 0 0 3px;
    }
  }
}

.window-modal-layer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgb(0,0,0);
  opacity: 0.2;
}

ul.error-msg {
  padding: 0 0 0 5px !important;
  list-style: none !important;
  margin: 0;
  ul {
    padding: 0 0 0 20px !important;
    list-style: disc !important;
  }
  li {
    padding: 2px 0 !important;
  }
}

* {
  html {
    .ui-helper-clearfix {
      height: 1%;
    }
    .ui-autocomplete {
      width: 1px;
    }
  }
}

@media print {
  body {
    overflow: visible !important;
    height: auto !important;
  }

  html {
    overflow: visible !important;
    height: auto !important;
  }

  #cm {
    height: auto !important;
    #tabs {
      display: none;
    }
    > .window-outer {
      position: static !important;
      top: 0;
      left: 0;
      border: none;
      > .panel-frame {
        -moz-border-radius: 0;
        -moz-box-shadow: none;
        border: none;
        > .panel-frame-top {
          display: none;
        }
        > .panel-frame-body {
          width: 100% !important;
          overflow: visible !important;
          > * {
            display: none;
          }
          > .printable {
            display: block;
          }
        }
      }
    }
  }

  .window-modal-layer {
    display: none !important;
  }

}


#cm {
  @greenIconColor: #4CAF50;

  .fa {
    font-size: 14px;
    color: @default-icon-color;
  }

  .fa-check {
    color: #4CAF50;
  }

  .fa-close {
    color: #E91E63;
  }

  .fa-red {
    color: #E91E63;
  }

  .fa-file-pdf-o {
    color: #F44336;
  }

  .fa-file-excel-o {
    color: @greenIconColor;
  }

  .fa-plus-circle, .fa-plus, .fa-plus-square {
    color: @greenIconColor;
  }
}

.user-select-none {
  cursor:default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#cm ul.ui-tabs-nav {
  .user-select-none();
  li {
    height:26px;
    line-height:26px;
    padding: 0 10px 0 10px;
    margin-right: 3px;
    border: 1px solid #92A9B3;
  }

  li {
    a:active {
      outline-color: rgba(0,0,0,0);
    }
    &.ui-state-active-tab {
      background-color: #92A9B3;
      a {
        color:white;
      }
    }
  }

  background:none;
}

#cm .ui-tabs-panel {
  border-top: 2px solid #92A9B3;
}
