.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
}

.ui-state-disabled {
  cursor: default !important;
  opacity: .35;
  filter: alpha(opacity=35);
  background-image: none;
}

.ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  width: 16px;
  height: 16px;
  background: url(images/ui-icons_72a7cf_256x240.png) no-repeat;
}

.ui-widget-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #eeeeee;
  opacity: .80;
  filter: alpha(opacity=80);
}

.ui-widget-content {
  border: 1px solid #dddddd;
  background-color: @content-bg;
  color: @dark-text-color;
  a {
    color: @dark-text-color;
  }
  .ui-state-default {
    border: 1px solid @base-border-color;
    background-color: @btn-background-color;
    font-weight: normal;
    color: @dark-text-color;
  }
  .ui-state-hover {
    background-color: #E0EBF2;
    color: @dark-text-color;
  }
  .ui-state-focus {
    background-color: #E0EBF2;
    color: @dark-text-color;
  }
  .ui-state-active {
    border: 1px solid #2694e8;
    font-weight: normal;
    color: @color_17;
  }
  .ui-state-highlight {
    border: 1px solid #f9dd34;
    color: @color_18;
    a {
      color: @color_18;
    }
  }
  .ui-state-error {
    border: 1px solid #cd0a0a;
    background: #cd0a0a url(images/ui-bg_flat_15_cd0a0a_40x100.png) 50% 50% repeat-x;
    color: @color_17;
    a {
      color: @color_17;
    }
  }
  .ui-state-error-text {
    color: @color_17;
  }
  .ui-priority-primary {
    font-weight: bold;
  }
  .ui-priority-secondary {
    opacity: .7;
    filter: alpha(opacity=70);
    font-weight: normal;
  }
  .ui-state-disabled {
    opacity: .35;
    filter: alpha(opacity=35);
    background-image: none;
  }
  .ui-icon {
    background-image: url(images/ui-icons_72a7cf_256x240.png);
  }
}

.ui-widget-header {
  border: 1px solid #aed0ea;
  background-color: #E0EBF2;
  color: @dark-text-color;
  font-weight: bold;
  a {
    color: @color_14;
  }
  .ui-state-default {
    border: 1px solid @base-border-color;
    background-color: @btn-background-color;
    font-weight: normal;
    color: @color_15;
  }
  .ui-state-hover {
    background: #e4f1fb url(images/ui-bg_glass_100_e4f1fb_1x400.png) 50% 50% repeat-x;
    color: @color_16;
  }
  .ui-state-focus {
    //background: #e4f1fb url(images/ui-bg_glass_100_e4f1fb_1x400.png) 50% 50% repeat-x;
    //color: @color_16;
  }
  .ui-state-active {
    border: 1px solid #2694e8;
    background: #3baae3 url(images/ui-bg_glass_50_3baae3_1x400.png) 50% 50% repeat-x;
    font-weight: normal;
    color: @color_17;
  }
  .ui-state-highlight {
    border: 1px solid #f9dd34;
    background: #ffef8f url(images/ui-bg_highlight-soft_25_ffef8f_1x100.png) 50% top repeat-x;
    color: @color_18;
    a {
      color: @color_18;
    }
  }
  .ui-state-error {
    border: 1px solid #cd0a0a;
    background: #cd0a0a url(images/ui-bg_flat_15_cd0a0a_40x100.png) 50% 50% repeat-x;
    color: @color_17;
    a {
      color: @color_17;
    }
  }
  .ui-state-error-text {
    color: @color_17;
  }
  .ui-priority-primary {
    font-weight: bold;
  }
  .ui-priority-secondary {
    opacity: .7;
    filter: alpha(opacity=70);
    font-weight: normal;
  }
  .ui-state-disabled {
    opacity: .35;
    filter: alpha(opacity=35);
    background-image: none;
  }
  .ui-icon {
    background-image: url(images/ui-icons_72a7cf_256x240.png);
  }
}

.ui-state-default {
  border: 1px solid @base-border-color;
  background-color: @btn-background-color;
  font-weight: normal;
  color: @color_15;
  a {
    color: @color_15;
    text-decoration: none;
    &:link {
      color: @color_15;
      text-decoration: none;
    }
    &:visited {
      color: @color_15;
      text-decoration: none;
    }
  }
  .ui-icon {
    background-image: url(images/ui-icons_3d80b3_256x240.png);
  }
}

.ui-state-hover {
  background: #e4f1fb url(images/ui-bg_glass_100_e4f1fb_1x400.png) 50% 50% repeat-x;
  color: @color_16;
  a {
    color: @color_16;
    text-decoration: none;
    &:hover {
      color: @color_16;
      text-decoration: none;
    }
  }
  .ui-icon {
    background-image: url(images/ui-icons_2694e8_256x240.png);
  }
}

.ui-state-focus {
  //background: #e4f1fb url(images/ui-bg_glass_100_e4f1fb_1x400.png) 50% 50% repeat-x;
  //color: @color_16;
  //.ui-icon {
  //  background-image: url(images/ui-icons_2694e8_256x240.png);
  //}
}

.ui-state-active {
  border: 1px solid #2694e8;
  background: #3baae3 url(images/ui-bg_glass_50_3baae3_1x400.png) 50% 50% repeat-x;
  font-weight: normal;
  color: @color_17;
  a {
    color: @color_17;
    text-decoration: none;
    &:link {
      color: @color_17;
      text-decoration: none;
    }
    &:visited {
      color: @color_17;
      text-decoration: none;
    }
  }
  .ui-icon {
    background-image: url(images/ui-icons_ffffff_256x240.png);
  }
}

.ui-state-highlight {
  border: 1px solid #f9dd34;
  background: #ffef8f url(images/ui-bg_highlight-soft_25_ffef8f_1x100.png) 50% top repeat-x;
  color: @color_18;
  a {
    color: @color_18;
  }
  .ui-icon {
    background-image: url(images/ui-icons_2e83ff_256x240.png);
  }
}

.ui-state-error {
  border: 1px solid #cd0a0a;
  background: #cd0a0a url(images/ui-bg_flat_15_cd0a0a_40x100.png) 50% 50% repeat-x;
  color: @color_17;
  a {
    color: @color_17;
  }
  .ui-icon {
    background-image: url(images/ui-icons_ffffff_256x240.png);
  }
}

.ui-state-error-text {
  color: @color_17;
  .ui-icon {
    background-image: url(images/ui-icons_ffffff_256x240.png);
  }
}

.ui-priority-primary {
  font-weight: bold;
}

.ui-priority-secondary {
  opacity: .7;
  filter: alpha(opacity=70);
  font-weight: normal;
}

.ui-icon-carat-1-n {
  background-position: 0 0;
}

.ui-icon-carat-1-ne {
  background-position: -16px 0;
}

.ui-icon-carat-1-e {
  background-position: -32px 0;
}

.ui-icon-carat-1-se {
  background-position: -48px 0;
}

.ui-icon-carat-1-s {
  background-position: -64px 0;
}

.ui-icon-carat-1-sw {
  background-position: -80px 0;
}

.ui-icon-carat-1-w {
  background-position: -96px 0;
}

.ui-icon-carat-1-nw {
  background-position: -112px 0;
}

.ui-icon-carat-2-n-s {
  background-position: -128px 0;
}

.ui-icon-carat-2-e-w {
  background-position: -144px 0;
}

.ui-icon-triangle-1-n {
  background-position: 0 -16px;
}

.ui-icon-triangle-1-ne {
  background-position: -16px -16px;
}

.ui-icon-triangle-1-e {
  background-position: -32px -16px;
}

.ui-icon-triangle-1-se {
  background-position: -48px -16px;
}

.ui-icon-triangle-1-s {
  background-position: -64px -16px;
}

.ui-icon-triangle-1-sw {
  background-position: -80px -16px;
}

.ui-icon-triangle-1-w {
  background-position: -96px -16px;
}

.ui-icon-triangle-1-nw {
  background-position: -112px -16px;
}

.ui-icon-triangle-2-n-s {
  background-position: -128px -16px;
}

.ui-icon-triangle-2-e-w {
  background-position: -144px -16px;
}

.ui-icon-arrow-1-n {
  background-position: 0 -32px;
}

.ui-icon-arrow-1-ne {
  background-position: -16px -32px;
}

.ui-icon-arrow-1-e {
  background-position: -32px -32px;
}

.ui-icon-arrow-1-se {
  background-position: -48px -32px;
}

.ui-icon-arrow-1-s {
  background-position: -64px -32px;
}

.ui-icon-arrow-1-sw {
  background-position: -80px -32px;
}

.ui-icon-arrow-1-w {
  background-position: -96px -32px;
}

.ui-icon-arrow-1-nw {
  background-position: -112px -32px;
}

.ui-icon-arrow-2-n-s {
  background-position: -128px -32px;
}

.ui-icon-arrow-2-ne-sw {
  background-position: -144px -32px;
}

.ui-icon-arrow-2-e-w {
  background-position: -160px -32px;
}

.ui-icon-arrow-2-se-nw {
  background-position: -176px -32px;
}

.ui-icon-arrowstop-1-n {
  background-position: -192px -32px;
}

.ui-icon-arrowstop-1-e {
  background-position: -208px -32px;
}

.ui-icon-arrowstop-1-s {
  background-position: -224px -32px;
}

.ui-icon-arrowstop-1-w {
  background-position: -240px -32px;
}

.ui-icon-arrowthick-1-n {
  background-position: 0 -48px;
}

.ui-icon-arrowthick-1-ne {
  background-position: -16px -48px;
}

.ui-icon-arrowthick-1-e {
  background-position: -32px -48px;
}

.ui-icon-arrowthick-1-se {
  background-position: -48px -48px;
}

.ui-icon-arrowthick-1-s {
  background-position: -64px -48px;
}

.ui-icon-arrowthick-1-sw {
  background-position: -80px -48px;
}

.ui-icon-arrowthick-1-w {
  background-position: -96px -48px;
}

.ui-icon-arrowthick-1-nw {
  background-position: -112px -48px;
}

.ui-icon-arrowthick-2-n-s {
  background-position: -128px -48px;
}

.ui-icon-arrowthick-2-ne-sw {
  background-position: -144px -48px;
}

.ui-icon-arrowthick-2-e-w {
  background-position: -160px -48px;
}

.ui-icon-arrowthick-2-se-nw {
  background-position: -176px -48px;
}

.ui-icon-arrowthickstop-1-n {
  background-position: -192px -48px;
}

.ui-icon-arrowthickstop-1-e {
  background-position: -208px -48px;
}

.ui-icon-arrowthickstop-1-s {
  background-position: -224px -48px;
}

.ui-icon-arrowthickstop-1-w {
  background-position: -240px -48px;
}

.ui-icon-arrowreturnthick-1-w {
  background-position: 0 -64px;
}

.ui-icon-arrowreturnthick-1-n {
  background-position: -16px -64px;
}

.ui-icon-arrowreturnthick-1-e {
  background-position: -32px -64px;
}

.ui-icon-arrowreturnthick-1-s {
  background-position: -48px -64px;
}

.ui-icon-arrowreturn-1-w {
  background-position: -64px -64px;
}

.ui-icon-arrowreturn-1-n {
  background-position: -80px -64px;
}

.ui-icon-arrowreturn-1-e {
  background-position: -96px -64px;
}

.ui-icon-arrowreturn-1-s {
  background-position: -112px -64px;
}

.ui-icon-arrowrefresh-1-w {
  background-position: -128px -64px;
}

.ui-icon-arrowrefresh-1-n {
  background-position: -144px -64px;
}

.ui-icon-arrowrefresh-1-e {
  background-position: -160px -64px;
}

.ui-icon-arrowrefresh-1-s {
  background-position: -176px -64px;
}

.ui-icon-arrow-4 {
  background-position: 0 -80px;
}

.ui-icon-arrow-4-diag {
  background-position: -16px -80px;
}

.ui-icon-extlink {
  background-position: -32px -80px;
}

.ui-icon-newwin {
  background-position: -48px -80px;
}

.ui-icon-refresh {
  background-position: -64px -80px;
}

.ui-icon-shuffle {
  background-position: -80px -80px;
}

.ui-icon-transfer-e-w {
  background-position: -96px -80px;
}

.ui-icon-transferthick-e-w {
  background-position: -112px -80px;
}

.ui-icon-folder-collapsed {
  background-position: 0 -96px;
}

.ui-icon-folder-open {
  background-position: -16px -96px;
}

.ui-icon-document {
  background-position: -32px -96px;
}

.ui-icon-document-b {
  background-position: -48px -96px;
}

.ui-icon-note {
  background-position: -64px -96px;
}

.ui-icon-mail-closed {
  background-position: -80px -96px;
}

.ui-icon-mail-open {
  background-position: -96px -96px;
}

.ui-icon-suitcase {
  background-position: -112px -96px;
}

.ui-icon-comment {
  background-position: -128px -96px;
}

.ui-icon-person {
  background-position: -144px -96px;
}

.ui-icon-print {
  background-position: -160px -96px;
}

.ui-icon-trash {
  background-position: -176px -96px;
}

.ui-icon-locked {
  background-position: -192px -96px;
}

.ui-icon-unlocked {
  background-position: -208px -96px;
}

.ui-icon-bookmark {
  background-position: -224px -96px;
}

.ui-icon-tag {
  background-position: -240px -96px;
}

.ui-icon-home {
  background-position: 0 -112px;
}

.ui-icon-flag {
  background-position: -16px -112px;
}

.ui-icon-calendar {
  background-position: -32px -112px;
}

.ui-icon-cart {
  background-position: -48px -112px;
}

.ui-icon-pencil {
  background-position: -64px -112px;
}

.ui-icon-clock {
  background-position: -80px -112px;
}

.ui-icon-disk {
  background-position: -96px -112px;
}

.ui-icon-calculator {
  background-position: -112px -112px;
}

.ui-icon-zoomin {
  background-position: -128px -112px;
}

.ui-icon-zoomout {
  background-position: -144px -112px;
}

.ui-icon-search {
  background-position: -160px -112px;
}

.ui-icon-wrench {
  background-position: -176px -112px;
}

.ui-icon-gear {
  background-position: -192px -112px;
}

.ui-icon-heart {
  background-position: -208px -112px;
}

.ui-icon-star {
  background-position: -224px -112px;
}

.ui-icon-link {
  background-position: -240px -112px;
}

.ui-icon-cancel {
  background-position: 0 -128px;
}

.ui-icon-plus {
  background-position: -16px -128px;
}

.ui-icon-plusthick {
  background-position: -32px -128px;
}

.ui-icon-minus {
  background-position: -48px -128px;
}

.ui-icon-minusthick {
  background-position: -64px -128px;
}

.ui-icon-close {
  background-position: -80px -128px;
}

.ui-icon-closethick {
  background-position: -96px -128px;
}

.ui-icon-key {
  background-position: -112px -128px;
}

.ui-icon-lightbulb {
  background-position: -128px -128px;
}

.ui-icon-scissors {
  background-position: -144px -128px;
}

.ui-icon-clipboard {
  background-position: -160px -128px;
}

.ui-icon-copy {
  background-position: -176px -128px;
}

.ui-icon-contact {
  background-position: -192px -128px;
}

.ui-icon-image {
  background-position: -208px -128px;
}

.ui-icon-video {
  background-position: -224px -128px;
}

.ui-icon-script {
  background-position: -240px -128px;
}

.ui-icon-alert {
  background-position: 0 -144px;
}

.ui-icon-info {
  background-position: -16px -144px;
}

.ui-icon-notice {
  background-position: -32px -144px;
}

.ui-icon-help {
  background-position: -48px -144px;
}

.ui-icon-check {
  background-position: -64px -144px;
}

.ui-icon-bullet {
  background-position: -80px -144px;
}

.ui-icon-radio-off {
  background-position: -96px -144px;
}

.ui-icon-radio-on {
  background-position: -112px -144px;
}

.ui-icon-pin-w {
  background-position: -128px -144px;
}

.ui-icon-pin-s {
  background-position: -144px -144px;
}

.ui-icon-play {
  background-position: 0 -160px;
}

.ui-icon-pause {
  background-position: -16px -160px;
}

.ui-icon-seek-next {
  background-position: -32px -160px;
}

.ui-icon-seek-prev {
  background-position: -48px -160px;
}

.ui-icon-seek-end {
  background-position: -64px -160px;
}

.ui-icon-seek-start {
  background-position: -80px -160px;
}

.ui-icon-seek-first {
  background-position: -80px -160px;
}

.ui-icon-stop {
  background-position: -96px -160px;
}

.ui-icon-eject {
  background-position: -112px -160px;
}

.ui-icon-volume-off {
  background-position: -128px -160px;
}

.ui-icon-volume-on {
  background-position: -144px -160px;
}

.ui-icon-power {
  background-position: 0 -176px;
}

.ui-icon-signal-diag {
  background-position: -16px -176px;
}

.ui-icon-signal {
  background-position: -32px -176px;
}

.ui-icon-battery-0 {
  background-position: -48px -176px;
}

.ui-icon-battery-1 {
  background-position: -64px -176px;
}

.ui-icon-battery-2 {
  background-position: -80px -176px;
}

.ui-icon-battery-3 {
  background-position: -96px -176px;
}

.ui-icon-circle-plus {
  background-position: 0 -192px;
}

.ui-icon-circle-minus {
  background-position: -16px -192px;
}

.ui-icon-circle-close {
  background-position: -32px -192px;
}

.ui-icon-circle-triangle-e {
  background-position: -48px -192px;
}

.ui-icon-circle-triangle-s {
  background-position: -64px -192px;
}

.ui-icon-circle-triangle-w {
  background-position: -80px -192px;
}

.ui-icon-circle-triangle-n {
  background-position: -96px -192px;
}

.ui-icon-circle-arrow-e {
  background-position: -112px -192px;
}

.ui-icon-circle-arrow-s {
  background-position: -128px -192px;
}

.ui-icon-circle-arrow-w {
  background-position: -144px -192px;
}

.ui-icon-circle-arrow-n {
  background-position: -160px -192px;
}

.ui-icon-circle-zoomin {
  background-position: -176px -192px;
}

.ui-icon-circle-zoomout {
  background-position: -192px -192px;
}

.ui-icon-circle-check {
  background-position: -208px -192px;
}

.ui-icon-circlesmall-plus {
  background-position: 0 -208px;
}

.ui-icon-circlesmall-minus {
  background-position: -16px -208px;
}

.ui-icon-circlesmall-close {
  background-position: -32px -208px;
}

.ui-icon-squaresmall-plus {
  background-position: -48px -208px;
}

.ui-icon-squaresmall-minus {
  background-position: -64px -208px;
}

.ui-icon-squaresmall-close {
  background-position: -80px -208px;
}

.ui-icon-grip-dotted-vertical {
  background-position: 0 -224px;
}

.ui-icon-grip-dotted-horizontal {
  background-position: -16px -224px;
}

.ui-icon-grip-solid-vertical {
  background-position: -32px -224px;
}

.ui-icon-grip-solid-horizontal {
  background-position: -48px -224px;
}

.ui-icon-gripsmall-diagonal-se {
  background-position: -64px -224px;
}

.ui-icon-grip-diagonal-se {
  background-position: -80px -224px;
}

.ui-corner-tl {
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
}

.ui-corner-tr {
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
}

.ui-corner-bl {
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.ui-corner-br {
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
//
//.ui-corner-top {
//  -moz-border-radius-topleft: 6px;
//  -webkit-border-top-left-radius: 6px;
//  border-top-left-radius: 6px;
//  -moz-border-radius-topright: 6px;
//  -webkit-border-top-right-radius: 6px;
//  border-top-right-radius: 6px;
//}
//
//.ui-corner-bottom {
//  -moz-border-radius-bottomleft: 6px;
//  -webkit-border-bottom-left-radius: 6px;
//  border-bottom-left-radius: 6px;
//  -moz-border-radius-bottomright: 6px;
//  -webkit-border-bottom-right-radius: 6px;
//  border-bottom-right-radius: 6px;
//}
//
//.ui-corner-right {
//  -moz-border-radius-topright: 6px;
//  -webkit-border-top-right-radius: 6px;
//  border-top-right-radius: 6px;
//  -moz-border-radius-bottomright: 6px;
//  -webkit-border-bottom-right-radius: 6px;
//  border-bottom-right-radius: 6px;
//}
//
//.ui-corner-left {
//  -moz-border-radius-topleft: 6px;
//  -webkit-border-top-left-radius: 6px;
//  border-top-left-radius: 6px;
//  -moz-border-radius-bottomleft: 6px;
//  -webkit-border-bottom-left-radius: 6px;
//  border-bottom-left-radius: 6px;
//}
//
//.ui-corner-all {
//  -moz-border-radius: 3px;
//  -webkit-border-radius: 3px;
//  border-radius: 3px;
//}

.ui-widget-shadow {
  margin: -7px 0 0 -7px;
  padding: 7px;
  background: #000000 url(images/ui-bg_highlight-hard_70_000000_1x100.png) 50% top repeat-x;
  opacity: .30;
  filter: alpha(opacity=30);
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

.ui-resizable {
  position: relative;
}

.ui-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  z-index: 99999;
  display: block;
}

.ui-resizable-disabled {
  .ui-resizable-handle {
    display: none;
  }
}

.ui-resizable-autohide {
  .ui-resizable-handle {
    display: none;
  }
}

.ui-resizable-n {
  cursor: n-resize;
  height: 7px;
  width: 100%;
  top: -5px;
  left: 0;
}

.ui-resizable-s {
  cursor: s-resize;
  height: 7px;
  width: 100%;
  bottom: -5px;
  left: 0;
}

.ui-resizable-e {
  cursor: e-resize;
  width: 7px;
  right: -5px;
  top: 0;
  height: 100%;
}

.ui-resizable-w {
  cursor: w-resize;
  width: 7px;
  left: -5px;
  top: 0;
  height: 100%;
}

.ui-resizable-se {
  cursor: se-resize;
  width: 12px;
  height: 12px;
  right: 1px;
  bottom: 1px;
}

.ui-resizable-sw {
  cursor: sw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  bottom: -5px;
}

.ui-resizable-nw {
  cursor: nw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  top: -5px;
}

.ui-resizable-ne {
  cursor: ne-resize;
  width: 9px;
  height: 9px;
  right: -5px;
  top: -5px;
}

.ui-selectable-helper {
  border: 1px dotted #000000;
}

.ui-accordion {
  .ui-accordion-header {
    cursor: pointer;
    position: relative;
    margin-top: 1px;
    zoom: 1;
    a {
      display: block;
      font-size: 1em;
      padding: .5em .5em .5em .7em;
    }
    .ui-icon {
      position: absolute;
      left: .5em;
      top: 50%;
      margin-top: -8px;
    }
  }
  .ui-accordion-li-fix {
    display: inline;
  }
  .ui-accordion-header-active {
    border-bottom: 0 !important;
  }
  a {
    zoom: 1;
  }
  .ui-accordion-content {
    padding: 1em 2.2em;
    border-top: 0;
    margin-top: -2px;
    position: relative;
    top: 1px;
    margin-bottom: 2px;
    overflow: auto;
    display: none;
    zoom: 1;
  }
  .ui-accordion-content-active {
    display: block;
  }
}

.ui-accordion-icons {
  .ui-accordion-header {
    a {
      padding-left: 2.2em;
    }
  }
}

.ui-autocomplete {
  overflow: auto;
  width: 200px;
  cursor: default;
}

.ui-autocomplete-loading {
  background: #ffffff url('images/ui-anim_basic_16x16.gif') right center no-repeat;
}

.ui-menu {
  list-style: none;
  padding: 2px;
  margin: 0;
  display: block;
  .ui-menu {
    margin-top: -3px;
  }
  .ui-menu-item {
    margin: 0;
    padding: 0;
    zoom: 1;
    float: left;
    clear: left;
    width: 100%;
    a {
      text-decoration: none;
      display: block;
      padding: .2em .4em;
      line-height: 1.5;
      zoom: 1;
    }
    a.ui-state-hover {
      font-weight: normal;
      margin: -1px;
    }
    a.ui-state-active {
      font-weight: normal;
      margin: -1px;
    }
  }
}

.ui-button {
  display: inline-block;
  position: relative;
  padding: 0;
  margin-right: .1em;
  text-decoration: none !important;
  cursor: pointer;
  text-align: center;
  zoom: 1;
  overflow: visible;
}

.ui-button-icon-only {
  width: 2.2em;
  .ui-icon {
    position: absolute;
    top: 50%;
    margin-top: -8px;
    left: 50%;
    margin-left: -8px;
  }
}

button.ui-button-icon-only {
  width: 2.4em;
}

.ui-button-icons-only {
  width: 3.4em;
  .ui-icon {
    position: absolute;
    top: 50%;
    margin-top: -8px;
  }
  .ui-button-icon-primary {
    left: .5em;
  }
  .ui-button-icon-secondary {
    right: .5em;
  }
}

button.ui-button-icons-only {
  width: 3.7em;
}

input.ui-button {
  padding: .4em 1em;
}

.ui-button-text-icon {
  .ui-icon {
    position: absolute;
    top: 50%;
    margin-top: -8px;
  }
  .ui-button-icon-primary {
    left: .5em;
  }
}

.ui-button-text-icons {
  .ui-icon {
    position: absolute;
    top: 50%;
    margin-top: -8px;
  }
  .ui-button-icon-primary {
    left: .5em;
  }
  .ui-button-icon-secondary {
    right: .5em;
  }
}

.ui-buttonset {
  margin-right: 7px;
  .ui-button {
    margin-left: 0;
    margin-right: -0.3em;
  }
}

button.ui-button {
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

.ui-dialog {
  position: absolute;
  padding: .2em;
  width: 300px;
  background: #f3f8fc;
  border: 1px solid #E8F1F8;
  border-radius: 0 0 5px 0;
  -moz-border-radius: 0 0 5px 0;
}

.ui-slider {
  position: relative;
  text-align: left;
  .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1.2em;
    height: 1.2em;
    cursor: default;
  }
  .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-position: 0 0;
  }
}

.ui-slider-horizontal {
  height: .8em;
  .ui-slider-handle {
    top: -0.3em;
    margin-left: -0.6em;
  }
  .ui-slider-range {
    top: 0;
    height: 100%;
  }
  .ui-slider-range-min {
    left: 0;
  }
  .ui-slider-range-max {
    right: 0;
  }
}

.ui-slider-vertical {
  width: .8em;
  height: 100px;
  .ui-slider-handle {
    left: -0.3em;
    margin-left: 0;
    margin-bottom: -0.6em;
  }
  .ui-slider-range {
    left: 0;
    width: 100%;
  }
  .ui-slider-range-min {
    bottom: 0;
  }
  .ui-slider-range-max {
    top: 0;
  }
}

.ui-tabs {
  position: relative;
  padding: .2em;
  zoom: 1;
  .ui-tabs-nav {
    margin: 0;
    padding: .2em .2em 0;
    li {
      list-style: none;
      float: left;
      position: relative;
      top: 1px;
      margin: 0 .2em 1px 0;
      border-bottom: 0 !important;
      padding: 0;
      white-space: nowrap;
      a {
        float: left;
        padding: .5em 1em;
        text-decoration: none;
        cursor: pointer;
        outline: none;
      }
    }
    li.ui-tabs-selected {
      margin-bottom: 0;
      padding-bottom: 1px;
      a {
        cursor: text;
      }
    }
    li.ui-state-disabled {
      a {
        cursor: text;
      }
    }
    li.ui-state-processing {
      a {
        cursor: text;
      }
    }
  }
  .ui-tabs-panel {
    display: block;
    border-width: 0;
    padding: 1em 1.4em;
    background: none;
  }
  .ui-tabs-hide {
    display: none !important;
  }
}

.ui-tabs.ui-tabs-collapsible {
  .ui-tabs-nav {
    li.ui-tabs-selected {
      a {
        cursor: pointer;
      }
    }
  }
}

.ui-progressbar {
  height: 2em;
  text-align: left;
  .ui-progressbar-value {
    margin: -1px;
    height: 100%;
  }
}

.ui-helper-hidden {
  display: none;
}

.ui-helper-hidden-accessible {
  position: absolute;
  left: -99999999px;
}

.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}

.ui-helper-clearfix {
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  display: block;
}