@fa-font-path: './font-awesome/fonts';

@light-blue: #3c8dbc; //Primary
@red: #dd4b39; //Danger
@green: #00a65a; //Success
@aqua: #00c0ef; //Info
@yellow: #f39c12; //Warning
@blue: #0073b7;
@navy: #001F3F;
@teal: #39CCCC;
@olive: #3D9970;
@lime: #01FF70;
@orange: #FF851B;
@fuchsia: #F012BE;
@purple: #605ca8;
@maroon: #D81B60;
@black: #111;
@gray: #d2d6de;
@body-bg: #ecf0f5;

//@top-bg: #3c8dbc;
@top-bg: #607D8B;
@content-bg: hsla(240,20%,99%,1);

@font-weight-bold: 600;

@dark-text-color: #333;
@darker-text-color: #222;

@base-border-color: #ccc;

@btn-txt-color: #444;
@btn-background-color: #f4f4f4;

@top-bar-height: 26px;
@base-font-size: 13px;

@default-line-height: 24px;

@default-icon-color: #455A64;